			/*-----Constuction de la page-----*/
body{
	background-color: #F5F5F5;
}

*{
	 font-family: Comic Sans MS, Arial, Helvetica, sans-serif; 
}

html{
    scroll-behavior: smooth;
}

			/*-----Header-----*/

.Logo{
	/* Placement */
	display: flex;
	position: absolute;

	/*Taille*/

	width: 60px;
	left: 20px;
}

.Menu{
	/* Placement */
	display: flex;
	position: absolute;
	justify-content: space-around;
	align-items: center;

	/*Taille*/
	width: 300px;
	height: 45px;
	right: 2px;	
	top: 30px;
}

.Flag{
	/* Placement */
	display: flex;

	/*Taille*/
	height: 30px;
}

.Projects{
	/* Placement */
    text-decoration: none;
	vertical-align: middle;

	/*Taille*/
	width: auto;
	height:auto;

	/* Police */	
	font-size: 20px;
	text-align: center;
	color: black;

    transition: 0.2s;
}

.BoxSayHello{
	/* Placement */
	box-sizing: border-box;
	display: flex;

	/*Taille*/
	width: 120px;
	height: 70%;
	top: 20%;


	border: 2px solid #6D9C86;
	border-radius: 11px;
}

.SayHello{
	/*Taille*/
	width: 100%;
	height: auto;
	margin: auto;

	/* Police */
    text-decoration: none;
	font-size: 20px;
	text-align: center;
	align-items: center;
	color: #6D9C86;
}

			/*-----Element de vitrine-----*/

.ImageShowcase{
	/* Placement */
	position: absolute;

	/*Taille*/
	width: 60%;
	right: 2px;		
	top: 150px;
}

.TextShowcase{
	/* Placement */
	position: absolute;

	/*Taille*/
	width: auto;
	height: auto;
	left: 9%;
	top: 25%;

	/* Police */
	font-weight: 400;
	font-size: 290%;
}


.Description{
	/* Placement */
	position: absolute;
	display: flex;
    justify-content: center;

	/*Taille*/
	top: 100px;
	left: 155px;

	/* Police */
    font-size: 75%;
}

#Description2{
	/*Taille*/
    margin-left: 10px;

	/* Police */
    color: #6D9C86;
}

.BoxBody{
	/* Placement */
	position: absolute;
	display: flex;
	justify-content: center;

	/*Taille*/
	top: 100%;
	height: 1188px;
	width: 100%;
	left: 0px;
}

.BoxPresentation{
	/* Rectangle 4 */

	position: absolute;
	width: 100%;
	height: 500px;
	left: 0px;
	top: 0px;

	background: rgba(109, 156, 134, 0.71);
}

.BoxPresentationTitle{
	/* Placement */
	position: absolute;
	text-align: center;	

	/*Taille*/
	width: 100%;
	height: auto;
	top: 15%;

	/* Police */
	font-size: 190%;
}

.BoxPresentationText{
	/* Placement */
	text-align: center;	
	position: absolute;

	/*Taille*/
	width: 80%;
	height: auto;
	top: 25%;
	left: 10%;

	/* Police */
	font-size: 100%;
}

.BigBoxSkill{
	/* Placement */
	position: absolute;
	display: flex;
	justify-content: center;

	/*Taille*/
	width: 100%;
	height: 700px;
	left: 0px;
	top: 280px;
}

.BoxSkill{
	/* Placement */
	position: absolute;
	display: flex;
	justify-content: center;
	z-index: 1;

	/*Taille*/
	width: 1200px;
	height: 100%;

	/* Style */
	border: 1px solid rgba(0, 0, 0, 0.33);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 42px;
	box-sizing: border-box;
	background: #FFFFFF;
}

.BoxSkillDesign{
	/* Placement */
	display: flex;
	justify-content: space-around;

	/*Taille*/
	width: 400px;
	height: 100%;

	/* Style */
	box-sizing: border-box;
	border-left: 1px solid rgba(0, 0, 0, 0);
}

.BoxSkillDevelopment{
	/* Placement */
	display: flex;
	justify-content: center;

	/*Taille*/
	width: 400px;
	height: 100%;

	/* Style */
	box-sizing: border-box;
	border-left: 1px solid rgba(0, 0, 0, 0.33);
}

.BoxCompetencePhotography{
	/* Placement */
	display: flex;
	justify-content: center;

	/*Taille*/
	width: 400px;
	height: 100%;

	/* Style */
	box-sizing: border-box;
	border-left: 1px solid rgba(0, 0, 0, 0.33);
}

.LogoSkill1{
	/* Placement */
	position: absolute;

	/*Taille*/
	width: 75px;
	height: auto;
	top: 5%;
	left: 14%;
}


.LogoSkill2{
	/* Placement */
	position: absolute;

	/*Taille*/
	width: 75px;
	height: auto;
	top: 5%;
	left: 47%
}

.LogoSkill3{
	/* Placement */
	position: absolute;

	/*Taille*/
	width: 75px;
	height: auto;
	top: 5%;
	left : 80%
}



.SkillTitle{
	/* Placement */
	position: absolute;
	text-align: center;

	/*Taille*/
	width: auto;
	height: auto;
	top: 20%;

	/* Police */
	font-family: Comic Sans MS;
	font-style: normal;
	font-size: 160%;
	color: #000000;
}

.Paragraph{
	/* Placement */
	text-align: center;

	/* Police */
	font-size: 100%;
	line-height: 25px;
	color: #000000;
}

.BoxSkill1{
	/* Placement */
	position: absolute;

	/*Taille*/
	width: 310px;
	height: auto;
	top: 27%;
}

.BoxSkill2{
	/* Placement */
	position: absolute;

	/*Taille*/
	width: 250px;
	height: auto;
	top: 50%;
}

.BoxSkill3{
	/* Placement */
	position: absolute;

	/*Taille*/
	width: auto;
	height: auto;
	top: 75%;
}

.SkillTitle1{
	/* Placement */
	position: absolute;
	text-align: center;

	/*Taille*/
	width: auto;
	height: auto;
	top: 45%;

	/* Police */
	font-style: normal;
	font-size: 100%;
	color: #6D9C86;
}

.SkillTitle2{
	/* Placement */
	position: absolute;
	text-align: center;

	/*Taille*/
	width: auto;
	height: auto;
	top: 70%;

	/* Police */
	font-style: normal;
	font-size: 100%;
	color: #6D9C86;
}

.BigBoxWorks{
	/* Placement */
	position: absolute;
	display: flex;
	justify-content: center;

	/*Taille*/
	width: 100%;
	height: 1000px;
	left: 0px;
	top: 1100px;
}

.BoxWorks{
	/* Placement */
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;

	/*Taille*/
	width: 1200px;
	height: 1000px;
}

.BoxTitleWorks{
	/* Placement */
	position: absolute;
	
	/*Taille*/
	width:auto ;
	height: 40px;
	left: 5px;
	top: -30px;
	left: 10px;

	/* Police */
	font-style: normal;
	font-size: 160%;

}

.BoxMyPrograms{
	/* Placement */
	position: absolute;

	/*Taille*/
	width:900px ;
	height: 313px;
	left: 150px;
	top: 40px;
}

.BoxMyAcademicProjects{
	/* Placement */
	position: absolute;

	/*Taille*/
	width:900px ;
	height: 313px;
	top: 353px;
	left: 150px;

	/* Style */
	border-top: 1px solid rgba(0, 0, 0, 0.33);
	border-bottom: 1px solid rgba(0, 0, 0, 0.33);
}

.BoxMyTrips{
	/* Placement */
	position: absolute;

	/*Taille*/
	width:900px ;
	height: 313px;
	top: 666px;
	left: 150px;
}

.WorksTitle{
	/* Placement */
	position: absolute;

	/*Taille*/
	width:auto ;
	height: 40px;
	left: 5px;
	top: 50px;

	/* Police */
	font-size: 160%;
	color: #6D9C86;
}

.BoxTextWorks{
	/* Placement */
	position: absolute;

	/*Taille*/
	width:400px ;
	height: 140px;
	top: 100px;

	/* Police */
	font-size: 100%;
	line-height: 25px;

}

.BoxLearnMore{
	/* Placement */
	display: flex;
	justify-content: center;
	position: absolute;
	text-align: center;
	align-items: center;
	
	/*Taille*/
	width:150px;
	height: 50px;
	top: 190px;

	/* Police */
	font-size: 100%;
	color: white;

	/* Style */
	border: 2px solid black;
	border-radius: 11px;	
	background-color: black;
}

.Footer{
	/* Placement */
	position: absolute;

	/*Taille*/
	width: 400px;
	height: 100px;
	top: 2145px;

	/* Style */
	background: rgba(109, 156, 134, 0.71);
	border-radius: 60px 60px 0px 0px;

}

.FooterLine{
	/* Placement */
	position: absolute;

	/*Taille*/
	width: 300px;
	height: 0px;
	top: 60px;
	left: 50px;

	/* Style */
	border-top: 2px solid #000000;
}


.BoxElement{
	/* Placement */
	position: absolute;
	display: flex;
	justify-content: center;
	z-index: 1;

	/*Taille*/
	width: 50px;
	height: 50px;
	top: 5px;
}


.BoxCopiright{
	/* Placement */
	position: absolute;
	text-align: center;
	align-items: center;

	/*Taille*/
	width: 400px;
	height: 0px;
	top: 73px;

	/* Police */
	font-size: 75%;
	color: black;
}

.LogoSocialNetworks{
	/* Placement */
	position: absolute;

	/*Taille*/
	width: 30px;
	height: 30px;
	top: 5px;
	left: 10px;
}

.TextSocialNetworks{
	/* Placement */
	position: absolute;
	text-align: center;
	align-items: center;

	/*Taille*/
	width: 50px;
	height: 15px;
	top: 35px;
	left: 0px;

	/* Police */
	font-style: normal;
	font-size: 50%;
	color: black;

}

.BoxLink{
	/* Placement */
	position: absolute;

	/*Taille*/

	width: 50px;
	height: 50px;
	top: 0px;
	left: 0px;
}




@media screen and (max-width : 1100px){

		

	.Logo{
		/* Placement */
		display: flex;
		position: absolute;

		/*Taille*/

		width: 60px;
		left: 20px;
	}

	.Menu{
		/* Placement */
		display: flex;
		position: absolute;
		justify-content: space-around;
		align-items: center;

		/*Taille*/
		width: 300px;
		height: 45px;
		right: 2px;	
		top: 30px;

	}

	.Flag{
		/* Placement */
		display: flex;

		/*Taille*/
		height: 30px;
	}

	.Projects{
		/* Placement */
	    text-decoration: none;
		vertical-align: middle;

		/*Taille*/
		width: auto;
		height:auto;

		/* Police */	
		font-size: 20px;
		text-align: center;
		color: black;

	    transition: 0.2s;
	}

	.BoxSayHello{
		/* Placement */
		box-sizing: border-box;
		display: flex;

		/*Taille*/
		width: 120px;
		height: 70%;
		top: 20%;


		border: 2px solid #6D9C86;
		border-radius: 11px;
	}

	.SayHello{
		/*Taille*/
		width: 100%;
		height: auto;
		margin: auto;

		/* Police */
	    text-decoration: none;
		font-size: 20px;
		text-align: center;
		align-items: center;
		color: #6D9C86;
	}

				/*-----Element de vitrine-----*/

	.ImageShowcase{
		/* Placement */
		position: absolute;

		/*Taille*/
		width: 60%;
		right: 2px;		
		top: 150px;
	}

	.TextShowcase{
		/* Placement */
		position: absolute;

		/*Taille*/
		width: auto;
		height: auto;
		left: 90px;
		top: 100px;

		/* Police */
		font-size: 350%;
		/*background-color: grey;*/
	}


	.Description{
		/* Placement */
		position: absolute;
		display: flex;
	    justify-content: left;
	    width: 400px;

		/*Taille*/
		top: 80px;
		left: 110px;

		/* Police */
	    font-size: 75%;
	    /*background-color: red;*/
	}

	#Description2{
		/*Taille*/
	    margin-left: 10px;

		/* Police */
	    color: #6D9C86;
	}

	.BoxBody{
		/* Placement */
		position: absolute;
		display: flex;
		justify-content: center;

		/*Taille*/
		top: 550px;
		height: 300px;
		width: 100%;
		left: 0px;
	/*	background-color: grey;
	*/}

	.BoxPresentation{
		/* Rectangle 4 */

		position: absolute;
		width: 100%;
		height: 2200px;
		left: 0px;
		top: 0px;

		background: rgba(109, 156, 134, 0.71);
	}

	.BoxPresentationTitle{
		/* Placement */
		position: absolute;
		text-align: center;	

		/*Taille*/
		width: 100%;
		height: auto;
		top: 20px;

		/* Police */
		font-size: 190%;
	}

	.BoxPresentationText{
		/* Placement */
		text-align: center;	
		position: absolute;

		/*Taille*/
		width: 90%;
		height: auto;
		top: 80px;
		left: 5%;

		/* Police */
		font-size: 100%;
	}

	.BigBoxSkill{
		/* Placement */
		position: absolute;
		display: flex;
		justify-content: center;

		/*Taille*/
		width: 100%;
		height: 1900px;
		left: 0px;
		top: 260px;
		color: #000000;

		/*background-color: red;*/
	}

	.BoxSkill{
		/* Placement */
		position: absolute;
		justify-content: space-between;
		flex-direction: column;
		z-index: 1;

		/*Taille*/
		width: 85%;
		height: 100%;
		background: none;	
		border: none;
		box-shadow: none;
	}

	.BoxSkillDesign{
		/* Placement */
		position: absolute;	

		/*Taille*/
		width: 100%;
		height: 600px;



		/* Style */
		box-sizing: border-box;
		border: 1px solid rgba(0.33, 0.33, 0.33, 0.33);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 42px;

		background-color: white;

	}

	.BoxSkillDevelopment{
		/* Placement */
		position: absolute;	


		/*Taille*/
		width: 100%;
		height: 600px;
		top: 650px;

		/* Style */
		box-sizing: border-box;
		border: 1px solid rgba(0.33, 0.33, 0.33, 0.33);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 42px;

		background-color: white;

	}

	.BoxCompetencePhotography{
		/* Placement */
		position: absolute;

		/*Taille*/
		width: 100%;
		height: 600px;
		top: 1300px;

		/* Style */
		box-sizing: border-box;
		border: 1px solid rgba(0.33, 0.33, 0.33, 0.33);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 42px;
		background-color: white;

	}

	.LogoSkill1{
		/* Placement */
		position: absolute;

		/*Taille*/
		width: 100px;
		height: auto;
		top: 5%;
		left: 30%;
	}


	.LogoSkill2{
		/* Placement */
		position: absolute;

		/*Taille*/
		width: 100px;
		height: auto;
		top: 5%;
		left: 30%
	}

	.LogoSkill3{
		/* Placement */
		position: absolute;

		/*Taille*/
		width: 100px;
		height: auto;
		top: 5%;
		left : 30%
	}

	.SkillTitle{
		/* Placement */
		position: absolute;	
		text-align: right;


		/*Taille*/
		width:auto;
		height: auto;
		top: 45px;
		left: 45%;

		/* Police */
		font-family: Comic Sans MS;
		font-style: normal;
		font-size: 240%;
		color: #000000;

	/*	background-color: grey;
	*/}

	.Paragraph{
		/* Placement */
		position: absolute;	
		text-align: center;

		width: 90%;
		left: 5%;


		/* Police */
		font-size: 190%;
		line-height: 40px;
		color: #000000;
	}

	.BoxSkill1{
		/* Placement */
		position: absolute;	
		text-align: center;

		/*Taille*/
		width: 100%;
		height: auto;
		top: 140px;
		

		/*background-color: yellow;*/
	}

	.BoxSkill2{
		/* Placement */
		position: absolute;	
		text-align: center;


		/*Taille*/
		width: 100%;
		height: auto;
		top: 330px;
		/*background-color: darkred;*/
	}

	.BoxSkill3{
		/* Placement */
		position: absolute;	
		text-align: center;

		/*Taille*/
		width: 100%;
		height: auto;
		top: 460px;

		/*background-color: green;*/
	}

	.SkillTitle1{
		/* Placement */
		position: absolute;
		text-align: center;

		/*Taille*/
		width: 100%;
		height: auto;
		top: 280px;

		/* Police */
		font-style: normal;
		font-size: 240%;
		color: #6D9C86;

		/*background-color: grey;*/
	}

	.SkillTitle2{
		/* Placement */
		position: absolute;
		text-align: center;

		/*Taille*/
		width: 100%;
		height: auto;
		top: 410px;

		/* Police */
		font-style: normal;
		font-size: 240%;
		color: #6D9C86;
	/*	background-color: violet;*/
	}

	.BigBoxWorks{
		/* Placement */
		position: absolute;
		display: flex;
		justify-content: center;

		/*Taille*/
		width: 100%;
		height: 1000px;
		left: 0px;
		top: 2300px;
	}

	.BoxWorks{
		/* Placement */
		position: absolute;
		display: flex;
		justify-content: center;
		flex-direction: column;

		/*Taille*/
		width: 100%;
		height: 1000px;
	}

	.BoxTitleWorks{
		/* Placement */
		position: absolute;
		
		/*Taille*/
		width:auto ;
		height: 40px;
		left: 5px;
		top: -30px;
		left: 10px;

		/* Police */
		font-style: normal;
		font-size: 160%;

	}

	.BoxMyPrograms{
		/* Placement */
		position: absolute;

		/*Taille*/
		width:900px ;
		height: 313px;
		left: 0px;
		top: 40px;
	}

	.BoxMyAcademicProjects{
		/* Placement */
		position: absolute;

		/*Taille*/
		width:900px ;
		height: 313px;
		top: 353px;
		left: 0px;

		/* Style */
		border-top: 1px solid rgba(0, 0, 0, 0.33);
		border-bottom: 1px solid rgba(0, 0, 0, 0.33);
	}

	.BoxMyTrips{
		/* Placement */
		position: absolute;

		/*Taille*/
		width:900px ;
		height: 313px;
		top: 666px;
		left: 0px;
	}

	.WorksTitle{
		/* Placement */
		position: absolute;

		/*Taille*/
		width:auto ;
		height: 40px;
		left: 5px;
		top: 50px;

		/* Police */
		font-size: 160%;
		color: #6D9C86;
	}

	.BoxTextWorks{
		/* Placement */
		position: absolute;

		/*Taille*/
		width:400px ;
		height: 140px;
		top: 100px;

		/* Police */
		font-size: 100%;
		line-height: 25px;

	}

	.BoxLearnMore{
		/* Placement */
		display: flex;
		justify-content: center;
		position: absolute;
		text-align: center;
		align-items: center;
		
		/*Taille*/
		width:150px;
		height: 50px;
		top: 190px;

		/* Police */
		font-size: 100%;
		color: white;

		/* Style */
		border: 2px solid black;
		border-radius: 11px;	
		background-color: black;
	}

	.Footer{
		/* Placement */
		position: absolute;

		/*Taille*/
		width: 400px;
		height: 100px;
		top: 3400px;

		/* Style */
		background: rgba(109, 156, 134, 0.71);
		border-radius: 60px 60px 0px 0px;

	}

	.FooterLine{
		/* Placement */
		position: absolute;

		/*Taille*/
		width: 300px;
		height: 0px;
		top: 60px;
		left: 50px;

		/* Style */
		border-top: 2px solid #000000;
	}


	.BoxElement{
		/* Placement */
		position: absolute;
		display: flex;
		justify-content: center;
		z-index: 1;

		/*Taille*/
		width: 50px;
		height: 50px;
		top: 5px;
	}


	.BoxCopiright{
		/* Placement */
		position: absolute;
		text-align: center;
		align-items: center;

		/*Taille*/
		width: 400px;
		height: 0px;
		top: 73px;

		/* Police */
		font-size: 75%;
		color: black;
	}

	.LogoSocialNetworks{
		/* Placement */
		position: absolute;

		/*Taille*/
		width: 30px;
		height: 30px;
		top: 5px;
		left: 10px;
	}

	.TextSocialNetworks{
		/* Placement */
		position: absolute;
		text-align: center;
		align-items: center;

		/*Taille*/
		width: 50px;
		height: 15px;
		top: 35px;
		left: 0px;

		/* Police */
		font-style: normal;
		font-size: 50%;
		color: black;

	}

	.BoxLink{
		/* Placement */
		position: absolute;

		/*Taille*/

		width: 50px;
		height: 50px;
		top: 0px;
		left: 0px;
	}




}
