body{
	background-color: #F2F4F4
}

.*{
	font-family: Time New Roman;
}

a:hover{		/*Les liens changent de couleurs quand je passe avec la souris*/
	border-left : 3px black solid;

}




.en-tete{
	border-radius :20px;
	border : 3px black solid;
}

.title{
	text-align: center;
	border-radius : 20px;
}

.sub-title{ 
	font-size : 0.5em;
	text-align: center;
	font-style : italic;
}






.titre{
	border-top : 1px black solid;
}

.flottant{
	float : left;
}

.presentation{
	width : 50%;
	justify-content : center;
}







.paragraphe2{
	clear : left;
}

footer{
	font-style : italic;
	text-align: center;
}


.paragraphe3{
	height : 100px;
	border :3px black solid;
	overflow: auto;
}