/*-----Elements de compétence-----*/
#Domaine {
	/* Placement */
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 5%;
	padding: 2%;

	/*Taille*/
	height: auto;
}

#DomaineBox {
	/* Placement */
	display: flex;
	flex-direction: column;
	margin-left: 25%;
	padding: 2%;

	/*Taille*/
	height: auto;
	border-top: 0.5px solid;
	border-color: var(--couleur-fonce);
}

#DomaineTextTitle {
	/* Placement */
	display: flex;
	justify-content: left;
	align-items: left;
	margin-bottom: 1%;
	/*Taille*/
	width: 100%;
	height: auto;

	/* Police */
	font-size: 160%;
	font-weight: 800;
	color: #6D9C86;
}

#DomaineTextText {
	color: var(--couleur-text);
}
