/*-----Constuction de la page-----*/
body {
	background-color: var(--couleur-fond);

	justify-content: center;
	flex-direction: column;
	width: 100%;
	margin-left: 0px;
}

:root{
	--couleur-fond: #EDEEF0;
	--couleur-text: #333333;
	--couleur-fonce: #000;
	--couleur-verte: #6D9C86;
	--couleur-gros-texte: #FFF;
}

line {
	display: flex;
	border: 1px solid var(--couleur-fonce);

	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5px;
	margin-bottom: 5px;
	z-index: 20;
	border-radius: 10px;

}

html {
	scroll-behavior: smooth;
	justify-content: center;
	font-family: 'Verdana';
	margin: 0px;
	padding: 0px;

}

/* -----Construction de la scrollbar----- */
html::-webkit-scrollbar {
	width: 10px;
	height: 0px;
}

/* Track */
html::-webkit-scrollbar-track {
	padding-bottom: 0px;
}

/* Handle */
html::-webkit-scrollbar-thumb {
	background: var(--couleur-text);
	border-radius: 45px;
}
